@media screen and (min-width:0) and (max-width: 480px){
    .grid{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        grid-template-areas:
            'header'
            'center'
            'left'
            'right'
            'footer';
    }
}